Repository shrutipandey15/bookLovin: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, fronttest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pytest
        name: run pytest (backend)
        entry: ./scripts/run_backend_unit_tests
        files: \.(py)$
        language: system
      - id: fronttest
        name: run unit tests (backend)
        entry: cd frontend && npm run test_once
        files: \.(jsx?)$
        language: system

      # - id: mypy
      #   name: run mypy (backend)
      #   entry: ./scripts/run_backend_typing_tests
      #   files: \.(py)$
      #   language: system

update pre-commit
  .pre-commit-config.yaml
Due: none

fix frontend unit test hook
  .pre-commit-config.yaml
  scripts/run_frontend_unit_tests
Due: none

fix frontend unit tests
  frontend/src/pages/RegistrationPage/RegistrationPage.test.jsx
Due: fronttest

cleanup and minor fixes
  backend/booklovin/api/v1/auth.py
  backend/booklovin/api/v1/journal.py
  backend/booklovin/api/v1/posts.py
  backend/booklovin/main.py
  backend/booklovin/tests/test_post_comments.py
Due: pytest

cleanup error
  backend/booklovin/api/v1/journal.py
Due: pytest

add uid to users
  backend/booklovin/models/base.py
  backend/booklovin/models/users.py
Due: pytest

use uid instead of email for authorId
  backend/booklovin/api/v1/journal.py
  backend/booklovin/api/v1/posts.py
  backend/booklovin/services/database/mongo/post.py
  backend/booklovin/services/database/redis/post.py
  backend/booklovin/services/interfaces.py
Due: pytest

improvements and fixes
  backend/booklovin/services/database/mock/users.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/database/mongo/users.py
  backend/booklovin/services/database/redis/users.py
  backend/booklovin/tests/conftest.py
Due: pytest

populate mongo instead
  backend/scripts/populator2.py
Due: pytest

fix get_all return value
  backend/booklovin/services/database/mongo/post.py
Due: pytest

cleanup
  backend/booklovin/services/database/mongo/post.py
Due: pytest

disable redis for now
  backend/booklovin/core/config.py
  scripts/run_backend_unit_tests_allbackends
Due: pytest

some cleanup
  backend/booklovin/api/v1/posts.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/errors.py
Due: pytest

cleanup
  backend/booklovin/api/v1/journal.py
  backend/booklovin/api/v1/posts.py
  backend/booklovin/models/base.py
  backend/booklovin/models/journals.py
  backend/booklovin/models/post.py
  backend/booklovin/services/database/mock/journal.py
  backend/booklovin/services/database/mock/test_setup.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/database/redis/users.py
  backend/booklovin/services/interfaces.py
Due: pytest

fix some confusions in API naming
  backend/booklovin/models/base.py
  backend/booklovin/models/users.py
  backend/booklovin/services/database/mock/core.py
  backend/booklovin/services/database/mock/test_setup.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/database/mongo/post.py
  backend/booklovin/services/database/mongo/users.py
  backend/booklovin/services/database/redis/post.py
  backend/booklovin/services/database/redis/users.py
Due: pytest

tiny refactor
  backend/booklovin/services/database/mock/core.py
Due: pytest

Changed mock to backend APIs in journalPage feature
  backend/booklovin/services/database/mock/core.py
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/EntryStats.jsx
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/MoodSelectDropdown.jsx
Due: pytest, fronttest

More work on journal
  frontend/src/components/ConfirmModal.jsx
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/EntryCard.test.jsx
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalEditor.test.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalPage.test.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
Due: fronttest

fix registration page
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
Due: fronttest

fix a typo
  backend/booklovin/models/journals.py
  frontend/src/constants/enumTypes.js
Due: pytest, fronttest

Fixed scroll bar and Empowered spelling
  frontend/src/App.css
Due: none

Several fixes:
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/ParticlesBackground.jsx
  frontend/src/landingPage.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/LoginPage/LoginPage.test.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.test.jsx
  frontend/src/utils/ParticlesFactory.js
Due: fronttest

mixed
  frontend/src/components/MoodContext.jsx
  frontend/src/constants/enumTypes.js
  frontend/src/hooks/useAutoSave.js
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/EntryCard.test.jsx
  frontend/src/pages/JournalPage/EntryStats.jsx
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalEditor.test.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalPage.test.jsx
  frontend/src/pages/JournalPage/MoodSelectDropdown.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.test.jsx
  frontend/src/styles/themes.css
  frontend/src/utils/journalUtils.js
Due: fronttest

Some refactor for journal and added wordCount
  backend/booklovin/api/v1/journal.py
  backend/booklovin/models/journals.py
  backend/booklovin/services/database/mongo/journal.py
  frontend/src/pages/JournalPage/EntryCard.jsx
Due: pytest, fronttest

misc
  frontend/src/pages/JournalPage/EntryCard.test.jsx
  frontend/src/pages/JournalPage/EntryStats.jsx
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalEditor.test.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalPage.test.jsx
  frontend/src/utils/journalMock.js
  frontend/src/utils/journalUtils.js
Due: fronttest

streak functionality on journal
  backend/booklovin/models/users.py
  backend/booklovin/services/database/mongo/journal.py
  frontend/src/components/ParticlesBackground.jsx
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/EntryCard.test.jsx
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalEditor.test.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalPage.test.jsx
  frontend/src/utils/ParticlesFactory.js
  frontend/src/utils/journalUtils.js
Due: pytest, fronttest

Use a decorator to mark fields optional
  backend/booklovin/models/base.py
  backend/booklovin/models/journals.py
Due: pytest

remove wordCount
  backend/booklovin/models/journals.py
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: pytest, fronttest

use already existing creationTime and rename updated_at
  backend/booklovin/models/journals.py
  backend/booklovin/services/database/mongo/journal.py
  frontend/src/pages/JournalPage/EntryStats.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: pytest, fronttest

linting
  backend/booklovin/services/database/mongo/journal.py
Due: pytest

add ruff-format to pre-commit
  .pre-commit-config.yaml
Due: none

Fix API definitions
  backend/booklovin/services/database/mock/journal.py
  backend/booklovin/services/interfaces.py
Due: pytest

use mongo by default
  .env
Due: none

fix user usage
  backend/booklovin/api/v1/journal.py
  backend/booklovin/services/database/mock/journal.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/interfaces.py
Due: pytest

fix timezone exception
  backend/booklovin/services/database/mongo/journal.py
Due: pytest

Fix broken update function
  backend/booklovin/services/database/mongo/journal.py
Due: pytest

optimize streak handling
  backend/booklovin/models/users.py
  backend/booklovin/services/database/mongo/journal.py
Due: pytest

minor improvements
  backend/booklovin/models/users.py
  backend/booklovin/services/database/mongo/journal.py
Due: pytest

fix front unit tests
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalPage.test.jsx
Due: fronttest

fix updatedAt serialization format
  backend/booklovin/models/journals.py
Due: pytest
