Repository shrutipandey15/bookLovin: changes, and which pre-commit hooks are due for each by the changed paths.
All: backendtest, fronttest

backendtest:
  name: run unit tests (backend)
  entry: ./scripts/run_backend_unit_tests
  language: system

fronttest:
  name: run unit tests (frontend)
  entry: ./scripts/run_frontend_unit_tests
  language: system

feat: stlying enhancement
  frontend/src/App.css
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/LetterComposer.jsx
  package-lock.json
  package.json
Due: fronttest

feat: removed extra div
  frontend/src/components/Layout.jsx
  frontend/src/components/PostEditor.jsx
  frontend/src/pages/JournalPage/LetterComposer.jsx
Due: fronttest

feat: changed default alter to customized one
  frontend/src/App.css
  frontend/src/components/Layout.jsx
  frontend/src/pages/BookSearchPage/BookSearchPage.jsx
  frontend/src/pages/PostPage/SinglePostPage.jsx
Due: fronttest

feat(security): Harden API against IDOR and XSS vulnerabilities
  .env
  backend/booklovin/api/v1/posts.py
  backend/booklovin/models/comments.py
  backend/booklovin/models/journals.py
  backend/booklovin/models/post.py
  backend/booklovin/models/users.py
  backend/booklovin/tests/test_post_comments_security.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/scripts/kulala/xss_test.http
  frontend/src/pages/StudioPage/AiStudioPage.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/creationsSlice.js
Due: backendtest, fronttest

Changing UI part 1
  frontend/index.html
  frontend/src/App.css
  frontend/src/components/AuthCard.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
  frontend/tailwind.config.js
Due: fronttest

UI design change part 2
  frontend/src/components/Layout.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/main.jsx
  frontend/src/pages/HomePage.jsx
Due: fronttest

feat(journal, letters): overhaul UI to a two-pane layout
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/LetterComposer.jsx
  frontend/src/pages/JournalPage/LetterInbox.jsx
  frontend/src/pages/JournalPage/LetterViewer.jsx
  frontend/src/pages/JournalPage/LettersPage.jsx
Due: fronttest

feat(confessions): overhaul UI with modal viewer and tag filtering
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/pages/ConfessionPage/ConfessionCard.jsx
  frontend/src/pages/ConfessionPage/ConfessionEditor.jsx
  frontend/src/pages/ConfessionPage/ConfessionWallPage.jsx
  frontend/src/pages/ConfessionPage/SingleConfessionPage.jsx
Due: fronttest

feat(confession backend): Added backend for conffesion feature
  backend/booklovin/api/v1/confessions.py
  backend/booklovin/main.py
  backend/booklovin/models/confessions.py
  backend/booklovin/services/database/__init__.py
  backend/booklovin/services/database/mock/confessions.py
  backend/booklovin/services/database/mongo/confessions.py
  backend/booklovin/services/interfaces.py
  frontend/src/api/confession.js
  frontend/src/pages/ConfessionPage/ConfessionWallPage.jsx
  frontend/src/pages/ConfessionPage/SingleConfessionPage.jsx
  frontend/src/redux/confessionSlice.js
  frontend/src/utils/confessionMock.js
Due: backendtest, fronttest

add a note about encryption
  tickets.rst
Due: none

fix package.json
  frontend/package.json
  package.json
Due: none

Fixed bug with registration
  frontend/src/components/Layout.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
Due: fronttest

force committing some fixes
  backend/booklovin/api/v1/confessions.py
  backend/booklovin/models/confessions.py
  backend/booklovin/services/database/mongo/confessions.py
  backend/booklovin/services/interfaces.py
Due: backendtest

more fixes for likes and letters
  backend/booklovin/services/database/mock/core.py
  backend/booklovin/services/database/mongo/post.py
Due: backendtest

Jounral fixing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: fronttest

refactoring god component (JournalPage)
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: fronttest

refactor\
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/EntryList.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalWelcome.jsx
Due: fronttest

Solved bug related to confessions
  backend/booklovin/api/v1/confessions.py
  backend/booklovin/services/database/mongo/confessions.py
  frontend/src/pages/ConfessionPage/ConfessionWallPage.jsx
  frontend/src/redux/confessionSlice.js
Due: backendtest, fronttest

Added backend support for books feature (hell yeah!!)
  backend/booklovin/api/v1/books.py
  backend/booklovin/main.py
  backend/booklovin/models/books.py
  backend/booklovin/services/database/mongo/books.py
  backend/booklovin/services/external/open_library.py
  backend/booklovin/services/interfaces.py
  frontend/src/api/aiCreationmock.js
  frontend/src/api/books.js
  frontend/src/api/mockBookService.js
  frontend/src/pages/BookSearchPage/BookSearchPage.jsx
  frontend/src/redux/booksSlice.js
  frontend/src/redux/creationsSlice.js
  frontend/src/redux/profileSlice.js
Due: backendtest, fronttest

profile func
  backend/booklovin/api/v1/profile.py
  backend/booklovin/main.py
  backend/booklovin/models/profile.py
  backend/booklovin/services/database/__init__.py
  backend/booklovin/services/database/mongo/profile.py
  backend/booklovin/services/interfaces.py
  frontend/src/App.jsx
  frontend/src/api/profile.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/auth.js
  frontend/src/context/AuthContext.jsx
  frontend/src/hooks/useAuth.js
  frontend/src/main.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/profileSlice.js
  frontend/vite.config.js
Due: backendtest, fronttest

Profile more func
  backend/booklovin/api/v1/profile.py
  backend/booklovin/models/profile.py
  backend/booklovin/models/users.py
  backend/booklovin/services/database/mongo/profile.py
  backend/booklovin/services/interfaces.py
  frontend/src/api/profile.js
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/profileSlice.js
Due: backendtest, fronttest

don't recall
  backend/booklovin/api/v1/profile.py
  backend/booklovin/models/profile.py
  backend/booklovin/models/users.py
  backend/booklovin/services/database/mongo/profile.py
  backend/booklovin/services/interfaces.py
  frontend/src/api/profile.js
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
Due: backendtest, fronttest

feat(backend): Add advanced bookshelf and profile APIs
  backend/booklovin/api/v1/books.py
  backend/booklovin/api/v1/profile.py
  backend/booklovin/models/books.py
  backend/booklovin/models/profile.py
  backend/booklovin/services/database/mongo/books.py
  backend/booklovin/services/database/mongo/profile.py
  frontend/src/api/profile.js
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/profileSlice.js
Due: backendtest, fronttest

feat(bookshelf): Implement frontend for new shelf interactions
  frontend/src/api/books.js
  frontend/src/pages/BookSearchPage/BookSearchPage.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/booksSlice.js
Due: fronttest

drag and drop
  frontend/src/components/BookSpine.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/booksSlice.js
  frontend/src/redux/profileSlice.js
  package-lock.json
  package.json
Due: fronttest

messed up but functioning code for drag and drop
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BookSpine.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/booksSlice.js
  package-lock.json
  package.json
Due: fronttest

refactor(frontend) refactored user profile
  frontend/src/components/BookshelfCarousel.jsx
  frontend/src/components/DraggableShelf.jsx
  frontend/src/pages/UserProfilePage/UserProfileFeed.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/pages/UserProfilePage/UserProfileSidebar.jsx
Due: fronttest

Added reading badge and journal entries to profile
  frontend/src/pages/UserProfilePage/JournalHighlightCard.jsx
  frontend/src/pages/UserProfilePage/ReadingBadge.jsx
  frontend/src/pages/UserProfilePage/UserProfileFeed.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
Due: fronttest

Removed mood func
  backend/booklovin/api/v1/journal.py
  backend/booklovin/models/journals.py
  backend/booklovin/models/letters.py
  backend/booklovin/services/database/mock/journal.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/interfaces.py
  frontend/src/components/MoodContext.jsx
  frontend/src/components/MoodSelector.jsx
  frontend/src/components/PostEditor.jsx
  frontend/src/config/moods.js
  frontend/src/hooks/useDashboardData.js
  frontend/src/hooks/useLetters.js
  frontend/src/main.jsx
  frontend/src/pages/ConfessionPage/ConfessionCard.jsx
  frontend/src/pages/ConfessionPage/ConfessionEditor.jsx
  frontend/src/pages/ConfessionPage/SingleConfessionPage.jsx
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/LetterComposer.jsx
  frontend/src/pages/JournalPage/LetterViewer.jsx
  frontend/src/pages/JournalPage/MoodSelectDropdown.jsx
Due: backendtest, fronttest

cleanup
  frontend/src/components/PostCard.jsx
  frontend/src/constants/enumTypes.js
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/utils/journalMock.js
  frontend/src/utils/mockLetter.js
Due: fronttest

refactore letter func
  backend/booklovin/models/letters.py
  backend/booklovin/services/database/mongo/letters.py
  frontend/src/constants/labels.js
  frontend/src/constants/letterType.js
  frontend/src/hooks/useLetters.js
  frontend/src/pages/JournalPage/LetterComposer.jsx
  frontend/src/pages/JournalPage/LetterInbox.jsx
  frontend/src/pages/JournalPage/LetterViewer.jsx
  frontend/src/pages/JournalPage/LettersPage.jsx
Due: backendtest, fronttest

Updated post feature to accept images
  backend/booklovin/api/v1/posts.py
  backend/booklovin/core/storage.py
  backend/booklovin/main.py
  backend/booklovin/models/post.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/static/images/posts/35a12f13-3155-46f5-aa54-c27afbb0ffdf.png
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/PostCard.jsx
  frontend/src/components/PostEditor.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/hooks/useAutoSave.js
  frontend/src/pages/PostPage/SinglePostPage.jsx
  frontend/src/redux/postsSlice.js
Due: backendtest, fronttest

post feature
  backend/booklovin/api/v1/studio.py
  backend/booklovin/core/config.py
  backend/booklovin/main.py
  backend/booklovin/models/studio.py
  backend/booklovin/services/database/__init__.py
  backend/booklovin/services/database/mongo/core.py
  backend/booklovin/services/database/mongo/studio.py
  backend/booklovin/services/interfaces.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/pages/StudioPage/AiStudioPage.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/creationsSlice.js
Due: backendtest, fronttest

Path conditions:
  backendtest: any of: \.(py)$
  fronttest: any of: \.(jsx?)$
