Repository shrutipandey15/bookLovin: changes, and which pre-commit hooks are due for each by the changed paths.
All: backendtest, fronttest

backendtest:
  name: run unit tests (backend)
  entry: ./scripts/run_backend_unit_tests
  language: system

fronttest:
  name: run unit tests (frontend)
  entry: ./scripts/run_frontend_unit_tests
  language: system

add an initial test for streaks
  backend/booklovin/tests/test_journal_streak.py
  backend/poetry.lock
  backend/pyproject.toml
Due: backendtest

fix naming conventions application
  backend/booklovin/models/users.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/tests/test_journal_streak.py
Due: backendtest

fix user dates serialization
  backend/booklovin/models/users.py
Due: backendtest

fix streak tests
  backend/booklovin/tests/test_journal_streak.py
Due: backendtest

reset database on each test file
  backend/booklovin/tests/conftest.py
Due: backendtest

refactor
  backend/booklovin/core/utils.py
  backend/booklovin/models/base.py
  backend/booklovin/services/database/mock/core.py
  backend/booklovin/services/database/mock/journal.py
  backend/booklovin/services/database/mock/post.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/streak_logic.py
Due: backendtest

remove unused parameter
  backend/booklovin/services/database/mock/journal.py
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/streak_logic.py
Due: backendtest

use the VPN gate instance
  .env
Due: none

Implemented letter functionality
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/EntryCard.test.jsx
  frontend/src/pages/JournalPage/EntryStats.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalPage.test.jsx
  frontend/src/pages/JournalPage/LetterComposer.jsx
  frontend/src/pages/JournalPage/LetterInbox.jsx
  frontend/src/pages/JournalPage/LetterNavButton.jsx
  frontend/src/pages/JournalPage/LetterViewer.jsx
  frontend/src/utils/journalUtils.js
  frontend/src/utils/mockLetter.js
Due: fronttest

adapted streak functionality on frtonend according to backend
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/JournalPage.test.jsx
  frontend/src/utils/journalUtils.js
Due: fronttest

home Page correction and particle deletion
  frontend/src/components/Layout.jsx
  frontend/src/components/ParticlesBackground.jsx
  frontend/src/hooks/useDashboardData.js
  frontend/src/pages/HomePage.jsx
  frontend/src/utils/ParticlesFactory.js
Due: fronttest

even i'm wondering what i did now
  frontend/src/App.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/landingPage.jsx
Due: fronttest

removed landinf page
  frontend/src/App.jsx
Due: fronttest

add a note
  tickets.rst
Due: none

fixing error
  backend/booklovin/services/streak_logic.py
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
Due: backendtest, fronttest

fixed mood
  frontend/src/config/moods.js
  frontend/src/hooks/useJournalEntries.js
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/MoodSelectDropdown.jsx
Due: fronttest

fixed streak stat
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: fronttest

I really don't remember
  backend/booklovin/services/database/mongo/journal.py
  backend/booklovin/services/streak_logic.py
  frontend/src/hooks/useJournalEntries.js
  frontend/src/pages/JournalPage/JournalEditor.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: backendtest, fronttest

Implemented Navbar
  frontend/src/components/Layout.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/hooks/useAuth.js
Due: fronttest

Navigation
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: fronttest

letters functionality
  backend/booklovin/api/v1/letters.py
  backend/booklovin/main.py
  backend/booklovin/models/letters.py
  backend/booklovin/services/database/__init__.py
  backend/booklovin/services/database/mongo/letters.py
  frontend/src/hooks/useLetters.js
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/LetterComposer.jsx
  frontend/src/redux/letterSlice.js
Due: backendtest, fronttest

Letters functionality part 2
  frontend/src/api/letters.js
Due: fronttest

letter part 3
  frontend/src/App.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: fronttest

Confession part 1
  frontend/src/App.jsx
  frontend/src/api/confession.js
  frontend/src/pages/ConfessionPage/ConfessionCard.jsx
  frontend/src/pages/ConfessionPage/ConfessionEditor.jsx
  frontend/src/pages/ConfessionPage/ConfessionWallPage.jsx
  frontend/src/redux/confessionSlice.js
Due: fronttest

Confession part 2
  frontend/src/App.jsx
  frontend/src/api/confession.js
  frontend/src/pages/ConfessionPage/ConfessionCard.jsx
  frontend/src/pages/ConfessionPage/SingleConfessionPage.jsx
  frontend/src/redux/confessionSlice.js
  frontend/src/utils/confessionMock.js
Due: fronttest

Like part 1
  backend/booklovin/api/v1/posts.py
  backend/booklovin/models/post.py
  backend/booklovin/models/reactions.py
  backend/booklovin/services/database/mongo/post.py
  frontend/src/components/PostCard.jsx
  frontend/src/config/reactions.js
  frontend/src/redux/postsSlice.js
Due: backendtest, fronttest

React part 2
  backend/booklovin/api/v1/posts.py
  backend/booklovin/services/database/mongo/post.py
  frontend/src/redux/postsSlice.js
Due: backendtest, fronttest

Comment part 1
  backend/booklovin/api/v1/posts.py
  frontend/src/components/PostCard.jsx
  frontend/src/pages/PostPage/SinglePostPage.jsx
Due: backendtest, fronttest

Refactor
  frontend/src/api/api.js
  frontend/src/api/journal.js
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/hooks/useJournalEntries.js
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/MoodSelectDropdown.jsx
  frontend/src/pages/PostPage/CreatePost.jsx
  frontend/src/pages/PostPage/CreatePost.test.jsx
  frontend/src/redux/journalSlice.js
  frontend/src/redux/store.js
  frontend/src/styles/themes.css
  frontend/src/utils/journalUtils.js
  frontend/tailwind.config.js
Due: fronttest

Book shelf part 1 with mockdata
  frontend/src/App.jsx
  frontend/src/api/mockBookService.js
  frontend/src/components/Navbar.jsx
  frontend/src/pages/BookSearchPage/BookSearchPage.jsx
  frontend/src/redux/booksSlice.js
  frontend/src/redux/store.js
Due: fronttest

bookshelf part 2 yet again with mock
  frontend/src/App.jsx
  frontend/src/api/mockBookService.js
  frontend/src/components/Navbar.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/profileSlice.js
  frontend/src/redux/store.js
Due: fronttest

miscelleneous about canva need refactor and lots of implementation
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/api/mockBookService.js
  frontend/src/components/JustFinishedTemplate.jsx
  frontend/src/pages/StudioPage/AiStudioPage.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/store.js
  frontend/src/redux/studioSlice.js
Due: fronttest

Ai studio implementation and refacoration
  backend/booklovin/api/v1/posts.py
  frontend/src/api/mockBookService.js
  frontend/src/assets/ai-art-sample.png
  frontend/src/components/PostCard.jsx
  frontend/src/components/PostEditor.jsx
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/PostPage/Feed.jsx
  frontend/src/pages/StudioPage/AiStudioPage.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
  frontend/src/redux/creationsSlice.js
  frontend/src/redux/journalSlice.js
  frontend/src/redux/postsSlice.js
  frontend/src/redux/store.js
  frontend/src/redux/studioSlice.js
  frontend/src/utils/journalUtils.js
Due: backendtest, fronttest

Styling UI part 1
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/MoodContext.jsx
  frontend/src/config/moods.js
  frontend/src/main.jsx
  frontend/src/styles/themes.css
  frontend/tailwind.config.js
Due: fronttest

styling part 2
  frontend/src/components/Layout.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/JournalPage/EntryCard.jsx
  frontend/src/pages/JournalPage/EntryStats.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/LetterInbox.jsx
  frontend/src/pages/JournalPage/LetterViewer.jsx
  frontend/src/pages/PostPage/Feed.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
Due: fronttest

styling part 2/2
  frontend/src/components/Layout.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/JournalPage/EntryStats.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
  frontend/src/pages/JournalPage/LetterInbox.jsx
  frontend/src/pages/JournalPage/LetterViewer.jsx
  frontend/src/pages/PostPage/Feed.jsx
  frontend/src/pages/UserProfilePage/UserProfilePage.jsx
Due: fronttest

styling part 3
  frontend/src/App.css
  frontend/src/components/Layout.jsx
  frontend/src/pages/JournalPage/JournalPage.jsx
Due: fronttest

fix: confession page
  frontend/src/components/Layout.jsx
  frontend/src/pages/ConfessionPage/ConfessionCard.jsx
  frontend/src/pages/ConfessionPage/ConfessionWallPage.jsx
  frontend/src/pages/ConfessionPage/SingleConfessionPage.jsx
Due: fronttest

Path conditions:
  backendtest: any of: \.(py)$
  fronttest: any of: \.(jsx?)$
